<div pmr-idees="">
  <h1 class="page-header">Boîte à idées</h1>
  <div class="panel panel-info" ng-repeat="id in idees">
    <div class="panel-heading">
      <h3 class="panel-title">{{ id.titre }}</h3>
    </div>
    <div class="panel-body">
      <blockquote>
        <p>{{ id.mess }}</p>
        <footer>
          Posté le {{ id.date | date: 'EEEE, d MMMM yyyy H:mm:ss' }}
        </footer>
      </blockquote>
      <div class="container-fluid">
        <h3 class="page-header">Commentaires</h3>
        <div class="row" ng-repeat="com in id.commentaires track by $index">
          <div class="col-xs-8 col-xs-offset-4 well">
            <p><strong>{{ com.author }}</strong> a dit : {{ com.mess }}</p>
          </div>
        </div>
        <div class="row form-group">
          <textarea class="form-control" rows="3" placeholder="Votre commentaires" ng-model="com.adding"></textarea>
          <button type="button" class="btn btn-primary" ng-click="post($index,com.adding)">Poster</button>
        </div>

      </div>
    </div>
    <div class="panel-footer">
      <span class=""><a ng-click="incr($index)">J'aime</a> | <a ng-click="decr($index)">J'aime pas</a></span><span class="badge pull-right">{{ id.likes }}</span>
    </div>
  </div>
</div>
