<nav class="navbar navbar-fixed-top pmr-top">
  <div class="home">

  <a href="#/"><span class="glyphicon glyphicon-home pull-left"></span></a>
  </div>
  <div class="container">
    <div class="navbar-header">
      <h1 class="navbar-brand">Paint Ball adapté</h1>
    </div>
    <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" ng-class="{'pmr-form-error': haserror && !isloggedin}">
        <div>
          <div class="form-group" ng-class="{'has-error': haserror && !isloggedin}" ng-show="!isloggedin">
            <input type="text" placeholder="Login" class="form-control" ng-model="identifiant">
            <input type="password" placeholder="Mot de passe" class="form-control" ng-model="pass">
          </div>
          <button type="submit" class="btn btn-success" ng-if="!isloggedin" ng-click="signin(identifiant,pass)">Connexion</button>
          <button type="submit" class="btn btn-deco" ng-if="isloggedin" ng-click="deco()">Déconnexion</button>
        </div>
        <span ng-if="haserror && !isloggedin" class="small text-danger">Identifiant ou mot de passe invalide.</span>
      </form>
    </div>
  </div>
</nav>
