<div pmr-planning="">
  <h1 class="page-header">Planning des séances</h1>
  <uib-datepicker ng-model="dt" min-date="minDate" max-date="maxDate" show-weeks="true" class="well well-sm planning-datepicker" custom-class="getDayClass(date, mode)" starting-day="1"></uib-datepicker>
  <uib-alert type="{{alert.type}}" close="closeAlert()" ng-if="newSc">{{alert.msg}}</uib-alert>
  <!-- if pas de séances -->
  <div class="panel panel-default" ng-if="!noCreneau">
    <div class="panel-heading">
      <h3 class="panel-title">Séances du {{ dt | date: 'EEEE, d MMMM yyyy' }}</h3>
    </div>
    <div class="panel-body">
      <div class="alert alert-danger">Pas de séances ce jour.</div>
    </div>
  </div>
  <!-- if des séances -->
  <div class="panel panel-default" ng-if="noCreneau">
    <div class="panel-heading">
      <h3 class="panel-title">Séances du {{ dt | date: 'EEEE, d MMMM yyyy' }}</h3>
    </div>
    <div class="panel-body">
      <div class="list-group" ng-repeat="cr in getCreneaux(dt) track by $index">
        <h2>
          <small>Séance {{ $index + 1 }}</small>
          <span class="text-danger completude-info" ng-if="cr.participating >= 10">Complet</span>
          <span class="completude-info" ng-if="cr.participating < 5">
            <small class="text-warning">Pas assez d'inscrits</small>
          </span>
          <span ng-if="isCo()">
            <button type="button" class="btn btn-success pull-right" ng-if="!isIn(dt,$index)" ng-disabled="cr.participating >= 10" ng-click="sinscrire(dt,cr,$index)">S'inscrire</button>
            <button type="button" class="btn btn-default pull-right btn-deco" ng-if="isIn(dt,$index)" ng-click="desinscrire(dt,cr,$index)">Se désinscrire</button>
          </span>
          <span class="glyphicon glyphicon-exclamation-sign pull-right" ng-if="!isCo()" uib-tooltip="Connectez-vous pour pouvoir vous inscrire !" tooltip-placement="left"></span>
        </h2>
        <span class="list-group-item list-group-item-info"><span class="label label-primary creneau-info">Début :</span> {{ cr.debut | date:'HH : mm'}}</span>
        <span class="list-group-item list-group-item-info"><span class="label label-primary creneau-info">Fin :</span> {{ cr.fin | date:'HH : mm'}}</span>
        <span class="list-group-item"><small>Nombre de participants: {{ cr.participating }}</small></span>
      </div>
    </div>
  </div>
  <!-- fin if -->
  <modal-inscription ng-if="modalActivated"></modal-inscription>
</div>
