<h1 class="page-header">Points de Fidélité</h1>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Total de mes points de fidélité</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">200 pts</span>
        Obtenus par parrainage
      </li>
      <li class="list-group-item">
        <span class="badge">840 pts</span>
        Obtenus par points de séances
      </li>
    </ul>
  </div>
  <div class="panel-footer">
    Points totaux : <span class="badge pull-right">1040 pts</span>
  </div>
</div>
<div class="alert alert-info" role="alert">Dites à vos amis de donner votre identifiant lorsqu'ils s'inscrivent à l'association et vous serez automatiquement crédité de 40 points de fidélité supplémentaires !!</div>
<div class="alert alert-info" role="alert">Pour chaque séance à laquelle vous participez, gagnez 50 points supplémentaires !!</div>
